@charset "utf-8";
@import url(./fonts.css);
@import url(./reset.css);
#wrap {
  width: 100%;
  height: 100%;
}

#wrap #sectionCube {
  width: 100%;
  height: 100%;
}

#wrap #sectionCube .container {
  width: 100%;
}

#wrap #sectionCube .container .gap {
  width: 100%;
}

#wrap #sectionCube .container .gap .wrap {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #sectionCube .container .gap .wrap .controler-box {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #sectionCube .container .gap .wrap .controler-box ul {
  margin: auto;
}

#wrap #sectionCube .container .gap .wrap .controler-box ul li {
  margin: 5px 0;
}

#wrap #sectionCube .container .gap .wrap .controler-box ul li.xy {
  margin-top: 30px;
}

#wrap #sectionCube .container .gap .wrap .controler-box ul li label {
  color: #fff;
  width: 70px;
  display: inline-block;
  text-transform: uppercase;
}

#wrap #sectionCube .container .gap .wrap .controler-box ul li input {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
}

#wrap #sectionCube .container .gap .wrap .controler-box ul li input[type=range] {
  width: 180px;
}

#wrap #sectionCube .container .gap .wrap .controler-box ul li p {
  color: #fff;
  margin-top: 30px;
  text-transform: uppercase;
}

#wrap #sectionCube .container .gap .wrap .cube-box {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#wrap #sectionCube .container .gap .wrap .cube-box .cube {
  margin: auto;
  width: 400px;
  height: 400px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(800px) rotate3d(0, 0, 0, 0deg);
          transform: perspective(800px) rotate3d(0, 0, 0, 0deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#wrap #sectionCube .container .gap .wrap .cube-box .cube .face {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url() no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #ffff;
  border: 3px solid #fff;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#wrap #sectionCube .container .gap .wrap .cube-box .cube .face.front {
  background-image: url(../img/cat1.jpg);
  -webkit-transform: rotateY(0deg) translateZ(200px);
          transform: rotateY(0deg) translateZ(200px);
}

#wrap #sectionCube .container .gap .wrap .cube-box .cube .face.back {
  background-image: url(../img/cat2.jpg);
  -webkit-transform: rotateY(180deg) translateZ(200px);
          transform: rotateY(180deg) translateZ(200px);
}

#wrap #sectionCube .container .gap .wrap .cube-box .cube .face.left {
  background-image: url(../img/cat3.jpg);
  -webkit-transform: rotateY(90deg) translateZ(200px);
          transform: rotateY(90deg) translateZ(200px);
}

#wrap #sectionCube .container .gap .wrap .cube-box .cube .face.right {
  background-image: url(../img/cat4.jpg);
  -webkit-transform: rotateY(-90deg) translateZ(200px);
          transform: rotateY(-90deg) translateZ(200px);
}

#wrap #sectionCube .container .gap .wrap .cube-box .cube .face.top {
  background-image: url(../img/cat5.jpg);
  -webkit-transform: rotateX(90deg) translateZ(200px);
          transform: rotateX(90deg) translateZ(200px);
}

#wrap #sectionCube .container .gap .wrap .cube-box .cube .face.bottom {
  background-image: url(../img/cat6.jpg);
  -webkit-transform: rotateX(-90deg) translateZ(200px);
          transform: rotateX(-90deg) translateZ(200px);
}
